<div ng-include="'views/layout/header.html'"></div>
<div id="container">
	<ion-content>
		<div id="list" class="list">
		  <div class="item item-divider">
		    Information Shipper
		  </div>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Name/Attn</div>
		    <div class="field-value">PT. ABC Indonesia / Ms. Nanang</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Address</div>
		    <div class="field-value">Jl. Mangga besar jakarta barat</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Phone</div>
		    <div class="field-value">08 1212 123 123</div>
		  </label>
		</div>
		<div id="list" class="list">
		  <div class="item item-divider">
		    Information Consignee
		  </div>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Name/Attn</div>
		    <div class="field-value">PT. ABC Indonesia / Ms. Nanang</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Address</div>
		    <div class="field-value">Jl. Mangga besar jakarta barat</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Phone</div>
		    <div class="field-value">08 1212 123 123</div>
		  </label>
		</div>
		<div id="list" class="list">
		  <div class="item item-divider">
		    Information Billing
		  </div>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">NT/Kg</div>
		    <div class="field-value">200</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Total KG</div>
		    <div class="field-value">12</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">PPN</div>
		    <div class="field-value">Rp. 23.000</div>
		  </label>
		  <label class="item info-details item-stacked-label">
		    <div class="field-name">Sub Total</div>
		    <div class="field-value">Rp. 10.200.000</div>
		  </label>
		</div>
		<div class="row">
			<div class="col col-50">
				<button class="button button-small button-block button-balanced">
				  Confirm
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-small button-block button-assertive">
				  Cancel
				</button>
			</div>
		</div>
	</ion-content>
</div>