<div ng-include="'views/layout/header.html'"></div>
<div id="container">
	<ion-content>
		<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Search Hawb">
		    </label>
		    <button class="button button-small button-positive">
		      Search
		    </button>
		  </div>
		</div>

		<div id="list" class="list">
		  <div class="item item-divider">
		    Your Items
		  </div>
		  <a class="item process" href="#/details">
		  	<div class="hawb-no">THS0000001</div>
		  	<div class="consignee">
		  		PT. ABC Indonesia<br/>
		  		Ibu Dahlia
		  		</div>
		  	<div class="status">Pickup: Apr 13, 2015 | Arrived: Apr 14, 2015</div>
		  </a>
		  <a class="item done" href="#/details">
		  	<div class="hawb-no">THS0000001</div>
		  	<div class="consignee">
		  		PT. ABC Indonesia<br/>
		  		Ibu Dahlia
		  		</div>
		  	<div class="status">Pickup: Apr 13, 2015 | Arrived: Apr 14, 2015</div>
		  </a>
		  <a class="item done" href="#/details">
		  	<div class="hawb-no">THS0000001</div>
		  	<div class="consignee">
		  		PT. ABC Indonesia<br/>
		  		Ibu Dahlia
		  		</div>
		  	<div class="status">Pickup: Apr 13, 2015 | Arrived: Apr 14, 2015</div>
		  </a>
		  <a class="item failed" href="#/details">
		  	<div class="hawb-no">THS0000001</div>
		  	<div class="consignee">
		  		PT. ABC Indonesia<br/>
		  		Ibu Dahlia
		  		</div>
		  	<div class="status">Pickup: Apr 13, 2015 | Arrived: Apr 14, 2015</div>
		  </a>
		</div>
	</ion-content>
</div>